body {
    background-color: aliceblue ;
}

.navbar {
    padding: 10px;
    background-color: rgb(2, 58, 58);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar img {
    height: 60px;
    width: 60px;
}

.navbar a {
    font-size: 20px;
}
.heading-section .heading-card {
    width: 25%;
    margin: 70px;
    margin-bottom: 10px;
    padding: 20px;
    padding-top: 120px;
    padding-bottom: 20px;
    color: rgb(1, 36, 36);
    text-align: center;
    background-color:gray;

}

.heading-section{
    background-image: url(../img/dog-original.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh;
}

.heading-section .heading-card h2 {
    font-size: 30px;
}

.heading-section .heading-card h3 {
    font-size: 32px;
    color: rgb(229, 229, 229);
}

.heading-section .heading-card p {
    font-size: 20px;
}

.sub-heading {
    padding-left: 125px;
    margin-bottom: 20px;
    background-color: rgb(100, 209, 100);
}

.sub-heading .odd-color {
    background-color: green; 
}

.sub-heading .element {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.sub-heading a {
    font-size: 20px;
}

.card-body img {
    width: 30px;
}



.carousel-item img {
    height: 90vh;
}

.mid-heading {
    background-image: url(../img/cat-pic5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
}

.mid-heading .mid-card {
    width: 25%;
    margin: 150px;
    margin-bottom: 100px;
    margin-top: 40px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    color: blue;
    text-align: center;
    background-color: white;
}

.showcase-section .write-up {
    max-width: 50%;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.showcase-section .write-up h1 {
    text-align: center;
    font-size: 30px;
}

.showcase-section .write-up p {
    text-align: center;
    font-size: 25px;
}

.card-utilities span {
    border-top: rgb(2, 58, 58);
    font-size: 30px;
}

.head-tag{
color:  rgb(2, 58, 58);
}


.carousel-caption p {
    font-size: 50px;
    color: rgb(2, 58, 58);
}

.carousel-caption {
    bottom: 200px;
}

.row .no-gutters {
 cursor: pointer;
}

.card-utilities-container{
   background-color: rgb(2, 58, 58);
}

.faq-button {
    margin-left: 460px;
    margin-right: 460px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-size-adjust: 5px;
}

.faq-section .card-title:hover{
    color:green ;
    }

.faq-section .title{
        color:green ;
    }

.closing-heading {
    background-color:lightgreen;
    padding: 30px;
}

.closing-card {
    background-color:rgb(2, 58, 58);
    padding: 20px;
    color: aliceblue; 
    width: 100%;
}

.footer {
    height: 40vh;
background-color: rgb(2, 58, 58);
}

.footer input {
    width: 500px;
    margin-left: 700px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.footer  button {
    margin-left: 700px;
   
}


