body {
    background-color: rgb(2, 58, 58) ;
}

.navbar {
    padding: 10px;
    background-color: rgb(2, 58, 58);
}

.navbar img {
    height: 60px;
    width: 60px;
}

.navbar a {
    font-size: 20px;
}

.heading-section{
    background-image: url(../img/dog-original.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.heading-section .heading-card {
    width: 35%;
    margin: 50px;
    padding: 30px;
    padding-top: 150px;
    color: white;
    text-align: center;
    background-color: rgb(2, 58, 58);
}

.heading-section .heading-card h2 {
    font-size: 40px;
}

.heading-section .heading-card p {
    font-size: 20px;
}

.sub-heading {
    padding-left: 125px;
    margin-bottom: 50px;
    background-color: rgb(100, 209, 100);;
}

.sub-heading .odd-color {
    background-color: green; 
}

.sub-heading .element {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sub-heading a {
    font-size: 30px;
}

.card-body img {
    width: 30px;
}



.carousel-item img {
    height: 90vh;
}

.showcase-section .write-up {
    max-width: 50%;
    padding-top: 80px;
margin-left: auto;
margin-right: auto;
display: block;
}

.showcase-section .write-up h1 {
    text-align: center;
    font-size: 30px;
}

.showcase-section .write-up p {
    text-align: center;
    font-size: 25px;
}

.card-utilities span {
    border-top: rgb(2, 58, 58);
    font-size: 30px;
}

.head-tag{
color: lavender;
}


.carousel-caption p {
    font-size: 50px;
    color: rgb(2, 58, 58);
}

.carousel-caption {
    bottom: 200px;
}

.card-utilities-container{
   background-color: rgb(2, 58, 58);
}